body {
font-family: sofia-pro,sans-serif;
font-style: normal;
}

.header {
    height: 200px;
}

.header img{
    width: 120px;
}

.ett{
    background-image: url("assets/jason-goodman-Oalh2MojUuk-unsplash.jpg");
    background-position: center;
    /* color: white; */
    width: 450px;
    height: 450px;
}

.tva{
    background-color: #2819FF;
    width: 450px;
    height: 450px;
    color: white;
}

.tre{
    background-color: #2819FF;
    width: 450px;
    height: 450px;
    color: white;
}

.fyra{
    background-image: url("assets/joao-paulo-m-ramos-paulo-_aIFYxHW328-unsplash.jpg");
    background-position: center;
    color: white;
    width: 450px;
    height: 450px;
}

.uno{
    width: 200px;
    height: 200px;
}

.dos{
    width:250px;
    height: 250px;
    background-color: #FFCD32;
}

.tres{
    width: 200px;
    height: 200px;
}

.cuatro{
    width: 250px;
    height: 250px;
    background-color: #FF5F0A;
}

.customer img{
    width: 130px;
    height: 130px;
}

.christina{
   width: 20%;
}

.knapp{
    background-color: #2819FF;
    color: white;
}

.bold{
    font-weight: bold;
}


.itt    {
    background-color: #2819FF;
}

.tvau   {
    background-color: #23C3FF;
}

.tri    {
    background-color: #2819FF;
}

