body {
font-family: sofia-pro,sans-serif;
font-style: normal;
}

.header {
    height: 200px;
}

.header img{
    width: 120px;
}

.ett{
    background-image: url("assets/jason-goodman-Oalh2MojUuk-unsplash.jpg");
    background-position: center;
    width: 80vh;
    height: 80vh;
}

.tva{
    background-color: #2819FF;
    color: white;
    width: 80vh;
    height: 80vh;
}

.tre{
    background-color: #2819FF;
    color: white;
    width: 80vh;
    height: 80vh;
}

.fyra{
    background-image: url("assets/joao-paulo-m-ramos-paulo-_aIFYxHW328-unsplash.jpg");
    background-position: center;
    color: white;
    width: 80vh;
    height: 80vh;
}

.uno{
    width: 250px;
    height: 250px;
    background-color: #2819FF;
    color: white;
}

.dos{
    width:250px;
    height: 250px;
    background-image: url("assets/jason-goodman-Oalh2MojUuk-unsplash.jpg");
}

.tres{
    width: 250px;
    height: 250px;
    background-color: #2819FF;
    color: white;
}

.cuatro{
    width: 250px;
    height: 250px;
    background-image: url("assets/joao-paulo-m-ramos-paulo-_aIFYxHW328-unsplash.jpg");
    background-position: center;
    color: white;
}

.customer img{
    width: 130px;
    height: 130px;
}

.christina{
   width: 20%;
}

.chris{
    background-color: #2819FF;
}

.h2{
    color: white;
}

.knapp{
    background-color: #23C3FF;
    color: white;
}

.bold{
    font-weight: bold;
}


.itt    {
    background-color: #2819FF;

}

.itt ul {
    list-style-type: none;
}

.tvau   {
    background-color: #2819FF;
}

.tvau ul{
    list-style-type: none;
}

.tri    {
    background-color: #2819FF;
}

.tri ul   {
    list-style-type: none;
}

.nyhetsbrev {
    background-color: #2819FF;
    color: white;
}

footer{
    background-color: #23C3FF;
}

.logo-vit{
    width: 5%;
    height:auto;
    position:absolute;
    right: 0;
}

#lista{
        list-style-type: none;
        margin: 0;
        padding: 0;
}

#lista a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

#lista a:hover{
    text-decoration: underline;
}

a{
    color: #2B2B2B ;
}

a:hover {
    text-decoration: none;
    color: #2B2B2B;
}